{% extends 'base.html' %} {% block content %} {% load static %}
<section class="pt-5">
  <div class="py-5 px-4 px-lg-5">
    <form
      action="{% url 'account_reset_password' %}"
      method="post"
      class="py-5 px-2 px-md-5"
    >
      {% csrf_token %}
      <div
        class="container d-flex flex-column bg-yellow pt-5 pb-4 px-4 rounded-4 col-12 col-lg-6"
      >
        <h1 class="mb-4 mb-lg-5 fw-bold text-center fs-2 text-break">
          Reset Password
        </h1>
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control mb-3" />
        <button type="submit" class="btn btn-dark mt-3 mt-lg-4 p-2">
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
