{% extends 'base.html' %} {% block content %} {% load widget_tweaks %} {% load
static %}
<!-- prettier-ignore -->
<section class="pt-5">
  <div class="p-5">
    <form method="post" class="py-5 px-2 px-md-5">
      {% csrf_token %}
      <div
        class="container d-flex flex-column bg-yellow pt-5 pb-4 px-4 rounded-4 col-12 col-lg-6"
      >
        <h1 class="mb-4 mb-lg-5 fw-bold text-center fs-2 text-break">
          Change Password
        </h1>
        <label for="password" class="form-label">Password</label>
        {% render_field form.password1 class="form-control mb-4" id="password" placeholder="Masukkan password baru anda" %}
        <label for="confirm_password" class="form-label"
          >Confirm Password</label
        >
        {% render_field form.password2 class="form-control mb-3" id="confirm_password" placeholder="Masukkan konfirmasi password baru anda" %}
        <button type="submit" class="btn btn-dark mt-3 mt-lg-4 p-2">
          Submit
        </button>
      </div>
    </form>
  </div>
</section>

<!-- form error -->
<div
  id="formErrors"
  data-errors="{% if form.errors %}true{% else %}false{% endif %}"
  style="display: none"
></div>

{% include 'components/modal-error.html' %} {% endblock %}
