{% extends 'base.html' %} {% block content %} {% load static %}
<section class="pt-5">
  <div class="py-3 py-lg-5 px-2 px-lg-0">
    <div
      class="container d-flex flex-column bg-yellow pt-5 pb-4 px-5 rounded-4 col-12 col-lg-6"
    >
      <h1 class="mb-4 fw-bold fs-2 text-center text-break">
        Password Reset Password Terkirim
      </h1>
      <div class="text-justify fw-lighter lh-sm">
        <p>
          Jika email yang kamu masukkan terdaftar di sistem kami, kamu akan
          menerima instruksi untuk mengatur ulang password melalui email dalam
          beberapa menit. Periksa folder "Inbox" atau "Spam" kamu untuk email
          tersebut.
        </p>
        <p>
          Jika kamu tidak menerima email dalam beberapa menit, pastikan kamu
          memasukkan alamat email yang benar dan coba lagi.
        </p>
      </div>
      <a href="{% url 'account_login' %}" class="btn btn-dark mt-3 p-2"
        >Kembali ke halaman Login</a
      >
    </div>
  </div>
</section>
{% endblock %}
