{% extends 'base.html' %} {% block content %} {% load static %}
<section class="pt-5">
  <div class="p-5">
    <div class="py-5 px-2 px-md-5">
      <div
        class="container d-flex flex-column bg-yellow pt-5 pb-4 px-5 rounded-4 col-12 col-lg-6"
      >
        <h1 class="mb-4 fw-bold fs-2 text-center text-break">
          Password Berhasil Diperbarui
        </h1>
        <div class="text-justify fw-lighter lh-sm mt-2">
          <p>
            Password kamu telah berhasil direset. Kamu sekarang dapat
            menggunakan password baru untuk masuk ke akun kamu.
          </p>
        </div>
        <a href="{% url 'account_login' %}" class="btn btn-dark mt-3 p-2"
          >Masuk ke Akun</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
