<!-- prettier-ignore -->
{% extends 'base.html' %} {% block content %} {% load static %} 
{% load humanize %}

<section class="pt-5">
  <div class="py-5 px-4 px-lg-0">
    <div class="container d-flex flex-column gap-5">
      <!-- Title -->
      <h1 class="text-center text-red fw-bolder">List Courses</h1>

      <!-- Search dan Filter -->
      <div class="d-flex align-items-center justify-content-center">
        <!-- Filter -->
        <div class="dropdown me-3">
          <button
            class="btn btn-dark dropdown-toggle"
            type="button"
            id="filterDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-funnel-fill"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterDropdown">
            <li>
              <a
                class="dropdown-item {% if filter_option == 'all' %}active{% endif %}"
                href="?filter=all&search={{ search_query }}"
              >
                Semua Courses
              </a>
            </li>
            <li>
              <a
                class="dropdown-item {% if filter_option == 'owned' %}active{% endif %}"
                href="?filter=owned&search={{ search_query }}"
              >
                Courses Saya
              </a>
            </li>
          </ul>
        </div>
        <!-- Filter end -->

        <!-- Search -->
        <form method="get" class="flex-grow-1">
          <div class="input-group">
            <input
              type="text"
              name="search"
              class="form-control"
              placeholder="Search courses..."
              value="{{ search_query }}"
            />
            <button type="submit" class="input-group-text">
              <i class="bi bi-search"></i>
            </button>
          </div>
          <input type="hidden" name="filter" value="{{ filter_option }}" />
        </form>
        <!-- Search end -->
      </div>

      <!-- content -->
      <div class="row g-4">
        {% for course in courses_list %}
        <div class="col-12 col-md-6 col-lg-4">
          <!-- card -->
          <a
            href="{% url 'courses_detail' course.pk %}"
            class="text-decoration-none"
          >
            <div class="card" style="min-width: 18rem">
              <img
                src="{% static 'images/img-login.png' %}"
                class="card-img-top object-fit-cover"
                alt="Course Image"
                style="height: 28rem"
              />
              <div class="card-body pb-0">
                <p class="card-title text-center fw-semibold mb-5">
                  {{ course.title }}
                </p>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex flew-row justify-content-between align-items-center p-0 fw-semibold"
                  >
                    <div>
                      <p class="badge bg-warning p-2">Diskon 50%</p>
                      <p class="text-success">
                        Rp{{ course.price|floatformat:0|intcomma }}
                      </p>
                    </div>
                    <div>
                      <p class="text-danger text-decoration-line-through">
                        <!-- prettier-ignore -->
                        Rp{{ course.price|floatformat:0|add:course.price|intcomma }}
                      </p>
                    </div>
                  </li>
                  <li
                    class="list-group-item d-flex flew-row justify-content-between align-items-center mt-2 p-0"
                  >
                    <p class="fw-semi-bold">
                      <i class="bi bi-star-fill fs-5 text-warning"></i
                      ><span class="ms-2"></span>5.0
                    </p>
                    <p>
                      <i class="bi bi-people fs-5"></i>
                      <span>{{ course.user_has_access.count }}</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </div>
        {% empty %}
        <div class="alert alert-danger p-4 fs-5">Tidak ada courses</div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
