{% load static %}
<div class="py-5 px-4 px-lg-0">
  <div class="container">
    <div
      class="course-title d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-1 mb-md-4"
    >
      <p class="fs-1 fs-md-4 mb-4 mb-md-0 text-center">
        <span class="text-red">Popular </span>Course
      </p>
      <p class="text-end mb-2 mb-lg-0 mt-0 mt-md-4">Lihat Semua</p>
    </div>
    <div class="course-grid" style="overflow-x: hidden">
      <div class="row flex-nowrap">
        <!-- card -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card" style="min-width: 18rem">
            <img
              src="{% static 'images/img-login.png' %}"
              class="card-img-top object-fit-cover"
              alt="Course Image"
              style="height: 28rem"
            />
            <div class="card-body pb-0">
              <p class="card-title text-center fw-semibold mb-5">
                Belajar Zero Downtime Laravel Deployment Dengan Enjoy dan Github
              </p>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex flew-row justify-content-between align-items-center p-0 fw-semibold"
                >
                  <div>
                    <p class="badge bg-warning p-2">Diskon 50%</p>
                    <p class="text-success">Rp300.000</p>
                  </div>
                  <div>
                    <p class="text-danger text-decoration-line-through">
                      Rp600.000
                    </p>
                  </div>
                </li>
                <li
                  class="list-group-item d-flex flew-row justify-content-between align-items-center mt-2 p-0"
                >
                  <p class="fw-semi-bold">
                    <i class="bi bi-star-fill fs-5 text-warning"></i
                    ><span class="ms-2"></span>5.0
                  </p>
                  <p>
                    <i class="bi bi-people fs-5"></i>
                    <span>13</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- card end -->
      </div>
    </div>
  </div>
</div>
