{% extends 'base.html' %} {% block content %} {% load static %}
<section class="pt-5">
  <div class="py-5 px-4 px-lg-0">
    <div class="container d-flex flex-column gap-5">
      <!-- Title -->
      <h1 class="text-center text-red fw-bolder">List News</h1>
      <!-- Search -->
      <div class="d-flex align-items-center justify-content-center">
        <div class="col-12">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
            <input
              type="text"
              name="search"
              class="form-control"
              placeholder="Search news..."
            />
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="row g-4">
        {% for course in courses_list %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card" style="min-width: 18rem">
            <img
              src="{% static 'images/img-login.png' %}"
              class="card-img-top object-fit-cover"
              alt="..."
              style="height: 28rem"
            />
            <div class="card-body pb-0">
              <p class="card-title text-center fw-semibold mb-5">
                Belajar Zero Downtime Laravel Deployment Dengan Enjoy dan Github
              </p>
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex flew-row justify-content-between align-items-center p-0 fw-semibold"
                >
                  <div>
                    <p class="badge bg-warning p-2">Diskon 50%</p>
                    <p class="text-success">Rp300.000</p>
                  </div>
                  <div>
                    <p class="text-danger text-decoration-line-through">
                      Rp600.000
                    </p>
                  </div>
                </li>
                <li
                  class="list-group-item d-flex flew-row justify-content-between align-items-center mt-2 p-0"
                >
                  <p class="fw-semi-bold">
                    <i class="bi bi-star-fill fs-5 text-warning"></i
                    ><span class="ms-2"></span>5.0
                  </p>
                  <p>
                    <i class="bi bi-people fs-5"></i>
                    <span>13</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="alert alert-danger p-4 fs-5">Tidak ada courses</div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
