{% load static %} {% load humanize %}
<div class="py-3 py-lg-5 px-0">
  <div class="container">
    <div
      class="course-title d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-1 mb-md-4"
    >
      <p class="fs-1 fs-md-4 mb-4 mb-md-0 text-center">
        <span class="text-red">Program </span>Kursus
      </p>
      <p class="text-end mb-2 mb-lg-0 mt-0 mt-md-4">
        <a
          href="{% url 'courses_list' %}"
          class="text-decoration-none text-black"
        >
          Lihat Semua
        </a>
      </p>
    </div>

    <!-- Slider Kursus -->
    <div
      id="course-slider"
      class="course-grid position-relative slider-grid"
      style="overflow-x: hidden"
    >
      {% if latest_courses %}
      <!-- Tombol Navigasi -->
      <button
        id="prev-course-btn"
        class="btn btn-dark rounded-circle position-absolute top-50 start-0 translate-middle-y z-3 d-flex align-items-center justify-content-center shadow"
        style="width: 35px; height: 35px"
      >
        <i class="bi bi-arrow-left"></i>
      </button>
      <button
        id="next-course-btn"
        class="btn btn-dark rounded-circle position-absolute top-50 end-0 translate-middle-y z-3 d-flex align-items-center justify-content-center shadow"
        style="width: 35px; height: 35px"
      >
        <i class="bi bi-arrow-right"></i>
      </button>
      <!-- Tombol Navigasi Selesai -->
      {% endif %}
      <div
        class="row flex-nowrap slider-row"
        style="transition: transform 0.5s ease-in-out"
      >
        <!-- Kartu Kursus -->
        {% for course in latest_courses %}
        <div class="col-12 col-md-6 col-lg-4">
          <a
            class="text-decoration-none cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#courseModal"
            data-title="{{ course.title }}"
            data-description="{{ course.description }}"
            data-mentor-photo="{% if course.mentor and course.mentor.photo %}{{ course.mentor.photo.url }}{% else %}{% static 'images/mentor.jpg' %}{% endif %}"
            data-mentor-name="{{ course.mentor.name }}"
            data-mentor-experience="{{ course.mentor.experience }}"
            data-mentor-linkedin="{{ course.mentor.linked_in }}"
            data-mentor-instagram="{{ course.mentor.instagram }}"
            data-image="{% if course.image %} {{ course.image.url }} {% else %} {% static 'images/img-not-found.png' %} {% endif %}"
            data-price="{{ course.price|floatformat:0|intcomma }}"
            data-url="{% url 'courses_detail' course.pk %}"
            data-user-has-access="{{ course.has_access }}"
          >
            <div class="card rounded rounded-top-4" style="min-width: 18rem">
              <img
                src="{% if course.image %} {{ course.image.url }} {% else %} {% static 'images/img-not-found.png' %} {% endif %}"
                class="card-img-top object-fit-cover rounded-4"
                alt="Course Image"
                style="height: 28rem"
              />
              <div class="card-body pb-0">
                <p class="card-title text-center fw-semibold mb-5">
                  {{ course.title }}
                </p>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex flew-row justify-content-end align-items-center p-0 fw-semibold"
                  >
                    <p class="text-success">
                      Rp{{ course.price|floatformat:0|intcomma }}
                    </p>
                  </li>
                  <li
                    class="list-group-item d-flex flew-row justify-content-between align-items-center mt-2 p-0"
                  >
                    <p class="fw-semi-bold">
                      <i class="bi bi-star-fill fs-5 text-warning"></i>
                      <span class="ms-2"></span>5.0
                    </p>
                    <p>
                      <i class="bi bi-people fs-5"></i>
                      <span>{{ course.user_has_access.count }}</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </div>
        {% empty %}
        <div class="alert alert-danger p-4 fs-5">Tidak ada kursus terbaru</div>
        {% endfor %}
        <!-- Kartu Kursus Selesai -->
      </div>
    </div>
  </div>
</div>

{% include 'modals/course_detail_modal.html' %}
