{% extends 'base.html' %} {% block content %} {% load static %}

<!-- PROFILE MAIN -->
{% load widget_tweaks %}
<section class="pt-5">
  <div class="container mt-5 mb-5 px-4 px-lg-0">
    <div class="card shadow-lg mx-auto p-4 rounded-4" style="max-width: 900px">
      <div class="card-body">
        <h5 class="card-title fs-3 mb-4 fw-bold">Profile Pengguna</h5>
        <div class="row">
          <div
            class="col-md-4 text-center mb-4 d-flex flex-column align-items-center"
          >
            <div
              class="photo-container border border-secondary-subtle"
              style="width: 200px; height: 200px"
            >
              <img
                src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static 'images/avatar.jpeg' %}{% endif %}"
                alt="Profile Photo"
                class="object-fit-cover w-100 h-100"
              />
            </div>
          </div>
          <div class="col-md-8">
            <div class="mb-3">
              <label class="form-label">Username</label>
              <p class="text-muted">{{ user.username }}</p>
            </div>
            <div class="mb-3">
              <label class="form-label">First Name</label>
              <p class="text-muted">{{ user.first_name|default:"-" }}</p>
            </div>
            <div class="mb-3">
              <label class="form-label">Last Name</label>
              <p class="text-muted">{{ user.last_name|default:"-" }}</p>
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <div class="d-flex flex-row gap-3">
                <p class="text-muted">{{ user.email }}</p>
                <a href="{% url 'account_email' %}" class="text-danger"
                  >Ganti Email</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-flex justify-content-between align-items-center mt-3 mt-md-2"
        >
          <a
            href="{% url 'account_change_password' %}"
            class="text-danger text-decoration-none"
          >
            Ganti Password?
          </a>
          <a href="{% url 'edit_profile' %}" class="btn btn-outline-primary">
            Edit Profile
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
