# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.pot
db.sqlite3
*.sqlite3-journal
*.log

# Local development environment
.env
.venv/
venv/
ENV/
env/
*.env

# IDEs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Static files and media files (optional, if you're using local storage)
static/
media/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Coverage reports
.coverage
*.coveragerc
nosetests.xml
coverage.xml
*.hypothesis/
*.tox/

# Database files
*.db
*.sqlite3
*.sqlite3-journal

# Django migrations (include the folder but ignore __pycache__)
*/migrations/__pycache__/
!*/migrations/*.py
!*/migrations/*.sql

# Settings and secrets
nanedu/settings.py

# Virtual environment folders (optional)
env/
.venv/
venv/
ENV/
