{% extends 'base.html' %} {% block content %} {% load static %}
<section class="pt-5">
  <div class="py-5 px-4 px-lg-0">
    <div class="container d-flex flex-column gap-5">
      <!-- Title -->
      <h1 class="text-center text-red fw-bolder">List News</h1>
      <!-- Search -->
      <div class="d-flex align-items-center justify-content-center">
        <div class="col-12">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
            <input
              type="text"
              name="search"
              class="form-control"
              placeholder="Search news..."
            />
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="row g-4">
        {% for news in news_list %}
        <div class="col-12 col-lg-4">
          <div class="card shadow-sm mx-auto mt-6">
            <img
              src="{% if news.image %} {{ news.image.url }} {% else %} {% static 'images/img-not-found.png' %} {% endif %}"
              class="card-img-top object-fit-cover"
              alt="News Image"
              style="height: 200px"
            />
            <div class="card-body">
              <h4 class="card-title mb-3">
                <a
                  href="{% url 'news_detail' news.pk %}"
                  class="text-decoration-none text-red"
                >
                  {{ news.title|truncatechars:50 }}</a
                >
              </h4>
              <p class="card-text text-justify">
                {{ news.content|truncatechars:200 }}
              </p>
              <a href="{% url 'news_detail' news.pk %}" class="btn btn-dark">
                Pelajari Lebih Lanjut
              </a>
            </div>
          </div>
        </div>
        {% empty %}
        <div class="alert alert-danger p-4 fs-5">News tidak ada</div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
