<div
  class="modal fade"
  id="attendanceModal"
  tabindex="-1"
  aria-labelledby="attendanceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-red text-white">
        <h5 class="modal-title w-100 text-center" id="attendanceModalLabel">
          Login Harian
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Attendance Progress -->
        <h5 class="text-center mt-4">
          Login selama 7 hari untuk mendapatkan Kursus gratis
        </h5>
        <div class="d-flex justify-content-center my-5">
          {% for i in attendance_range %}
          <div
            class="rounded-circle d-flex align-items-center justify-content-center me-2 {% if i < last_7_days %}bg-success text-white{% else %}bg-secondary text-white{% endif %}"
            style="width: 50px; height: 50px"
          >
            {% if i < last_7_days %}✔{% else %}✖{% endif %}
          </div>
          {% endfor %}
        </div>

        <!-- Reminder Message -->
        <div
          class="alert {% if remaining_days_for_access == 0 %}alert-success{% else %}alert-warning{% endif %} text-center"
        >
          {% if remaining_days_for_access == 0 %}
          <strong>Selamat!</strong> Kamu mendapatkan akses ke
          <strong>Kursus {{ course.title }}</strong>. {% else %} Kamu butuh
          <strong>{{ remaining_days_for_access }}</strong> hari lagi untuk
          mendapatkan kursus <strong>gratis</strong>. {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Untuk show modal -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var attendanceModal = new bootstrap.Modal(
      document.getElementById("attendanceModal")
    );
    attendanceModal.show();
  });
</script>
