{% extends 'base.html' %} {% block content %} {% load static %}

<!-- prettier-ignore -->
{% if show_modal %} {% include 'modals/absensi_modal.html' %} {% endif %}

<section class="pt-5">
  <!-- jumbotron -->
  {% include 'pages/home/jumbotron.html' %}

  <!-- courses populer -->
  {% include 'pages/courses/courses_popular.html' %}

  <!-- news populer -->
  {% include 'pages/news/news_popular.html' %}

  <!-- rekam jejak -->
  {% include 'pages/home/rekam_jejak.html' %}

  <!-- keunggulan -->
  {% include 'pages/home/keunggulan.html' %}

  <!-- konsultasi -->
  {% include 'pages/home/konsultasi.html' %}

  <!-- testimoni -->
  {% include 'pages/home/testimoni.html' %}
</section>

{% endblock %}
