{% load static %}
<div class="py-3 py-lg-5 px-2 px-lg-0 position-relative">
  <div class="container bg-yellow rounded-5">
    <div
      class="row d-flex justify-content-center align-items-center p-5 gap-5 gap-lg-0 text-center text-lg-start"
    >
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column gap-3">
        <p class="font-monospace fs-4">Dapatkan Akses 1 Kelas Secara Gratis</p>
        <h1 class="fw-bold fs-1 lh-base">
          Strategi Bijak Mengelola Keuangan untuk Masa Depan Lebih Cerah
        </h1>
        <p class="text-muted">
          Kami adalah kursus yang dirancang untuk memberikan pemahaman mengenai
          prinsip-prinsip dasar hingga lanjutan dalam pengelolaan keuangan.
        </p>
        <div class="d-flex flex-column flex-lg-row gap-2 gap-lg-4">
          <a href="{% url 'courses_list' %}" class="btn btn-dark p-2 rounded-2">Jelajah Sekarang</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <img
          src="{% static 'images/jumbotron.png' %}"
          alt="img-jumbotron"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
