<div class="py-3 py-lg-5 px-0">
  <div class="container text-center">
    <h1 class="fw-bold pb-2 pb-lg-4">
      Hi, Kami <span class="highlight text-red">NAN.EDU!</span>
    </h1>
    <div class="row mt-5 gap-3 gap-md-0">
      <div class="col-md-3">
        <h2 class="number-highlight text-red fw-bolder">27,000+</h2>
        <p>Murid Aktif</p>
      </div>
      <div class="col-md-3">
        <h2 class="number-highlight text-red fw-bolder">30,000+</h2>
        <p>Kursus Terjual</p>
      </div>
      <div class="col-md-3">
        <h2 class="number-highlight text-red fw-bolder">6</h2>
        <p>Pengajar Terlatih</p>
      </div>
      <div class="col-md-3">
        <h2 class="number-highlight text-red fw-bolder">3</h2>
        <p>Lokasi</p>
      </div>
    </div>
    <p class="mt-4">
      Kursus kami diminati oleh banyak murid aktif dan penjualan yang tinggi,
      diajar oleh pengajar terlatih, dan tersedia secara online yang bisa
      diakses kapan pun.
    </p>
  </div>
</div>
