{% extends 'base_accounts.html' %} {% block content %} {% load static %}
<div
  class="min-vh-100 d-flex justify-content-center align-items-center bg-light"
>
  <div class="container bg-white w-50 shadow-lg">
    <div class="row">
      <div
        class="col-lg-6 py-3 px-4 d-flex flex-column justify-content-center position-relative"
      >
        <div
          class="position-absolute d-block d-lg-none"
          style="top: 0; right: 10px"
        >
          <a href="{% url 'home' %}">
            <i class="bi bi-x-lg fs-3 text-black"></i>
          </a>
        </div>
        <h3 class="text-red fw-bold mb-5">Login</h3>
        <h5 class="fw-semibold">Welcome Back!</h5>
        <p class="text-muted">
          Enter your email address and password to access your account.
        </p>

        <form class="needs-validation" novalidate>
          <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid email address.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              required
            />
            <div class="invalid-feedback">Please enter your password.</div>
          </div>
          <div
            class="d-flex justify-content-between align-items-center mt-5 gap-2 flex-column flex-lg-row"
          >
            <button type="submit" class="btn btn-dark">Submit</button>
            <a href="/" class="text-decoration-none">Forget password?</a>
          </div>
        </form>
      </div>
      <div class="col-lg-6 p-0 d-none d-lg-flex position-relative">
        <div class="position-absolute" style="top: 0; right: 10px">
          <a href="{% url 'home' %}">
            <i class="bi bi-x-lg fs-3 text-black"></i>
          </a>
        </div>
        <img
          src="../assets/img/img-login.png"
          alt="img-login"
          class="img-fluid w-100 h-100 object-fit-cover"
        />
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center py-3 py-lg-2">
      <p class="mb-0 text-center">
        Don't have an account?
        <a href="{% url 'register' %}" class="text-decoration-none">Register</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
