<footer class="text-center text-lg-start bg-red text-white">
  <div class="container p-4">
    <div
      class="row d-flex justify-content-center align-items-center gap-4 gap-md-0"
    >
      <div class="col-md-12 col-lg-6 mb-md-3 mb-lg-0">
        <h5 class="text-uppercase mb-3">Nan.Edu</h5>
        <p>
          Kami adalah penyedia solusi edukasi ekonomi dan kursus manajemen
          keuangan berbasis daring untuk meningkatkan kompetensi
          di bidang keuangan
        </p>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="mb-3">Sosial Media</h5>
        <div
          class="d-flex gap-4 justify-content-center justify-content-lg-start cursor-pointer"
        >
          <i class="bi bi-facebook fs-4 text-white-hover"></i>
          <i class="bi bi-linkedin fs-4 text-white-hover"></i>
          <i class="bi bi-instagram fs-4 text-white-hover"></i>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <h5 class="my-3">Alamat</h5>
        <div class="mb-2">
          <span class="fw-bold">Gedung 1</span>
          <p>Jl. Jend. Sudirman No. 16, Metro, AC 65312</p>
        </div>
        <div>
          <span class="fw-bold">Gedung 2</span>
          <p>Jl. Ahmad Yani No. 65, Minahasa Tenggara, GO 05399</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="text-center bg-dark p-2">Copyright &copy; 2024</p>
  </div>

  <!-- scroll to top -->
  <button
    id="scrollToTop"
    class="btn btn-dark rounded-circle position-fixed d-none"
  >
    <i class="bi bi-arrow-up"></i>
  </button>
</footer>
