<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <!-- LOGIN DAN REGISTER -->
          <!-- error karena salah data -->
          {% if form.non_field_errors %}
          <ul class="mb-0">
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          <!-- error karena tidak sesuai validasi -->
          {% for field in form %} {% if field.errors %}
          <ul class="mb-0">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endfor %}

          <!-- EDIT PROFILE -->
          <!-- error karena tidak sesuai validasi -->
          {% for field in user_form %} {% if field.errors %}
          <ul class="mb-0">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endfor %}
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Tutup
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
