{% extends 'base.html' %} {% block content %} {% load static %}
<div class="pt-5">
  <!-- about us -->
  <section class="p-5">
    <div class="container">
      <div class="row d-flex gap-4 gap-md-0 align-items-center">
        <div class="col-md-6 text-center">
          <img
            src="{% static 'images/about.png' %}"
            alt="about-us-image"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6 d-flex flex-column gap-3">
          <h1 class="fw-bold text-red text-center text-md-start">About Us</h1>
          <p class="lh-lg text-center text-md-start">
            NanEdu adalah platform edukasi finansial yang dirancang untuk
            membantu menyelesaikan permasalahan finansial dengan memberikan
            solusi yang tepat dan edukatif. Melalui pendekatan yang mudah
            dipahami, NanEdu membekali pengguna dengan pengetahuan keuangan yang
            relevan untuk mencapai kestabilan finansial secara mandiri.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- our mentors -->
  {% include 'pages/aboutus/mentors_list.html' %}

  <!-- faq -->
  {% include 'pages/aboutus/faq.html' %}
</div>
{% endblock %}
